@tailwind base;
@tailwind components;
@tailwind utilities;

ul li .dots {
  width: 10px;
  height: 10px;
  background-color: aqua;
}

.slick-active button {
  background-color: black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  height: 10px;
  border: none !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
